.text-edit-editor {
  border: 1px solid #ddd;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  overflow: hidden;
}

.text-edit-ce {
  flex: 1 0 auto;
  outline: none;
  padding: 0.5rem;
}

.text-edit-ce[contentEditable='true']:empty:not(:focus):before {
  content: attr(placeholder);
  color: grey;
}

.text-edit-html {
  background: transparent;
  border: none;
  font-family: monospace, 'Courier New';
}

.text-edit-separator {
  align-self: stretch;
  border-right: 1px solid #ddd;
  display: flex;
  margin: 0 3px;
}

.text-edit-dd {
  box-sizing: border-box;
  outline: none;
}

.text-edit-btn {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: #222;
  font-size: 1em;
  height: 2em;
  outline: none;
  padding: 0;
  width: 2em;
}

.text-edit-btn:hover {
  background: #eaeaea;
}

.text-edit-btn[data-active='true'] {
  background: #e0e0e0;
}

.text-edit-toolbar {
  align-items: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  display: flex;
}
